<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Change Password</title>

</head>

<body>

<div class="container">

    <h2>Change Password</h2>

    <form
            th:action="@{/users/change-password/{id}(id=${userId})}"
            th:object="${changePassword}"
            method="post">

        <div>

            <label>Old Password</label>

            <input type="password"
                   th:field="*{oldPassword}"
                   required>

        </div>

        <br>

        <div>

            <label>New Password</label>

            <input type="password"
                   th:field="*{newPassword}"
                   required>

        </div>

        <br>

        <div>

            <label>Confirm Password</label>

            <input type="password"
                   th:field="*{confirmPassword}"
                   required>

        </div>

        <br>

        <button type="submit">
            Change Password
        </button>

    </form>

</div>

</body>

</html>